body {
  background: blanchedalmond;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  text-align: center;
}

.a {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 100%;
}

.b {
  background-color: rgb(255, 2, 2);
  padding: 100px;
  flex: 75%;
}

.c {
  background-color: rgb(255, 234, 0);
  padding: 10px;
  flex: 25%;
}

@media (max-width: 800px) {
  .a, .b, .c {
    flex: 100%;
  }
}