body {
  background: papayawhip;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  text-align: center;
}

.a {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 100%;
}

.b {
  background-color: rgb(255, 2, 2);
  padding: 40px;
  flex: 76%;
}

.c {
  background-color: rgb(255, 234, 0);
  padding: 10px;
  flex: 24%;
}

.d {
  background-color: rgb(0, 170, 255);
  padding: 10px;
  flex: 24%;
}

.e {
  background-color: rgb(0, 106, 255);
  padding: 10px;
  flex: 24%;
}

.f {
  background-color: rgb(0, 255, 128);
  padding: 10px;
  flex: 100%;
}

@media (max-width: 800px) {
  .a, .b, .f {
    flex: 100%;
  }
}